
  <a name="contactus"></a>
  <!-- FOOTER -->
  <footer class="footer-container">
        <!-- Widget Section
    ============================================= -->
    <div class="footer--widget text--center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-4">
                    <div class="footer--widget-content">
                        <h3 class="mb-0">Temple Address</h3>
                        <p>Murugan Temple of North America</p>
                        <p>6300 Princess Garden Parkway<br>Lanham, MD 20706, USA</p>
                        <a class="link--styled" target="_blank" alt="Google Directions" href="http://maps.google.com/maps?f=q&amp;hl=en&amp;q=6300+Princess+Garden+Parkway,+Lanham,+MD+20706,+USA&amp;ll=38.970754,-76.865716&amp;spn=0.015048,0.043259&amp;om=1">View On Map
                        &nbsp;<i class="material-icons" style="font-size:20px;color:#ffffff;">directions_car</i></a>


                        <hr class="style14">
                        
                        <div id="newsbyemail">
                          <div class="">
                            <h3 class="mb-0">Newsletter Sign-Up</h3>
                            <p>You can receive our newsletter and the latest temple news by email by signing up using the form below:</p>
                            <form class="well form-search padding10" onsubmit="window.open( 'https://www.verticalresponse.com', 'vr_optin_popup', 'scrollbars=yes,width=600,height=450' ); return true;" target="vr_optin_popup" action="https://oi.vresp.com?fid=3c45d35b41" method="post">
                              <input type="text" class="form-control form-control-sm" size="15" name="first_name" placeholder="Enter First Name"><br>
                              <input type="text" class="form-control form-control-sm" size="15" name="last_name" placeholder="Enter Last Name"><br>
                              <input type="text" class="form-control form-control-sm" size="15" name="email_address" placeholder="Enter Email Address">
                              <div id="captchaPreview" class="field">
                                <br/>
                                <table>
                                  <tr>
                                    <td>
                                      <img id="vrCaptchaImage" src="/img/blank.gif" height="35" width="125" />
                                    </td>
                                    <td>
                                      <span class='ml-5'><input size="10" name="captcha_guess"/></span>
                                      <input type=hidden id="vrCaptchaHash" name="captcha_hash" value="">
                                    </td>
                                  </tr>
                                  <tr>
                                    <td colspan='2'><p>Enter the letters shown on the left image into the right box. This prevents spammers.</p></td>
                                  </tr>
                                </table>
                              </div>
                              <script>hex_chars=Array('0','1','2','3','4','5','6','7','8','9','a','b','c','d','e','f');hash='';hash_length=20;for(h=0;h<hash_length;h++){hash=hash+hex_chars[Math.floor(16*Math.random())];}document.getElementById('vrCaptchaHash').value=hash;captcha_image_url='https://captcha.vresp.com/produce/'+hash;document.getElementById('vrCaptchaImage').src=captcha_image_url;</script>    
                              <button type="submit" class="btn btn-warning btn-sm float-right mt-2">Join Now</button>
                            </form>
                          </div>
                        </div>

                    </div>
                </div>
                <!-- .col-md-3 end -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="footer--reservation">
                        <div class="divider--shape-10up"></div>
                        <h3>Murugan Temple Hours</h3>
                        <div class="divider--shape-11"></div>
                        <div class="footer--reservation-wrapper">
                          <div class="container">
                            <div class="row">
                              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 templetimesstyletop text-center">
                                <span style="color: white;"><b>Temple is closed for devotees</b></span>
                              </div>
                            </div>
                            <!--
                            <div class="row">
                              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 templetimesstyletop">
                                Mon-Fri
                              </div>
                              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 templetimesstyletop">
                                9am-12pm / 5pm-9pm
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <hr class="style14">
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 templetimesstylebottom">
                                Sat, Sun and Holidays
                              </div>
                              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 templetimesstylebottom">
                                9am – 9pm
                              </div>
                            </div>
                          -->
                          </div>

                            <!-- <ul class="list-unstyled">
                              
                                <li>Mon-Fri<span>9am-12pm / 5pm-9pm</span></li>
                                
                                <li>Sat, Sun and Holidays <span>9am – 9pm</span></li>
                            </ul> -->
                        </div>
                        <div class="divider--shape-10down"></div>
                    </div>
                </div>
                <!-- .col-md-3 end -->
                <div class="col-xs-12 col-sm-3 col-md-4">
                    <div class="footer--widget-content">
                        <b class="sociallbl">Go Social @ &nbsp;</b>
                        <a href="https://www.facebook.com/MuruganTempleNorthAmerica/" class="fab fa-facebook-square fa-lg" target="_blank"></a>
                        <a href="https://twitter.com/MuruganTempleNA" class="fab fa-twitter-square fa-lg" target="_blank"></a>
                        <a href="https://www.youtube.com/results?search_query=murugan+temple+of+north+america" class="fab fa-youtube-square fa-lg" target="_blank"></a>
                        <a href="https://www.instagram.com/murugantemple/" class="fab fa-instagram fa-lg" target="_blank"></a>
                        <hr class="style14">
                        <h3 class="mb-0">Contact us</h3>
                        <p class="mb-0">Email: <a href='m&#97;i&#108;t&#111;&#58;c%6&#70;n&#37;74act%7&#53;s&#64;m&#117;&#114;u&#103;an%&#55;&#52;&#37;65mple&#46;org'>c&#111;ntactu&#115;&#64;m&#117;ru&#103;ant&#101;m&#112;le&#46;org</a></p>
                        <p class="mb-0">Phone: (301) 552-4889</p>
                        <!--
                        <hr class="style14">
                        <div class="row">
                          <div class="col-lg-12" align="center">
                            <p class="mb-0">Join our WhatsApp Group</p>
                            <img src="/img/content/scan_to_join_whatsapp.png?rnd=67" width="120" class="img-fluid rounded float-center p-2" alt="Scan To Join Murugan Temple WhatsApp Group">
                            <p class="mb-0">
                              Or visit link <a href="https://chat.whatsapp.com/9FaUvaISnr75FY1OWg6dnx">here</a>
                            </p>
                          </div>
                        </div>
                        <hr class="style14">
                        -->
                    </div>
                </div>
                <!-- .col-md-3 end -->

            </div>
        </div>
        <!-- .container end -->
    </div>

    <!-- .footer-widget end -->
    <!-- Copyrights
    ============================================= -->
    <a name="quicklinks"></a>
    <div class="footer--copyright text-center">
        <div class="divider--shape-dark"></div>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <b class="tagline">தமிழால் இணைவோம் முருகன் அருள் பெறுவோம்</b>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2">
                <b class="quicklinkslbl">Quick Links</b>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <hr class="style14">
            </div>
          </div>
          <div class="row center">
                <div class="col-xs-3 col-sm-12 col-md-3 footer-text-left">
                  <ul class="footer-text-list-style">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about/about-temple/">About Temple</a></li>
                    <li><a class="donatebtn" href="/about/our-services/">Our Services</a></li>
                    <li><a href="#contactus">Contact Us</a></li>
                  </ul>
                </div>
                <div class="col-xs-3 col-sm-12 col-md-3 footer-text-left">
                  <ul class="footer-text-list-style">
                    <li><a class="donatebtn" href="/about/donate-online">Donate Online</a></li>
                    <li><a class="donatebtn" href="/about/monthly-donation">Monthly Donation - ACH Form</a></li>
                    <li><a href="/about/endowment/">Temple Endowment Fund</a></li>
                    <li><a href="/about/donate-towards-projects/">Donate Towards Projects</a></li>
                    <li><a href="/about/year-end-statement/">Year-End Statement</a></li>
                  </ul>
                </div>
                <div class="col-xs-3 col-sm-12 col-md-3 footer-text-left">
                  <ul class="footer-text-list-style">
                    <li><a href="/about/administration/">Temple Management</a></li>
                    <li><a href="/about/endowment/">Temple Endowment Fund</a></li>
                    <li><a href="/events/">Upcoming Events</a></li>
                    <li><a href="/about/about-auditorium/">Temple Auditorium</a></li>
                  </ul>
                </div>
                <div class="col-xs-3 col-sm-12 col-md-3 footer-text-left">
                  <ul class="footer-text-list-style">
                    <li><a class="kitchenbtn" href="https://kitchen.murugantemple.org/" target="_blank">Temple Kitchen</a></li>
                    <li><a href="/about/volunteers/">Volunteer With Us</a></li>
                    <li><a href="/about/childrens-school/">Childrens School</a></li>
                  </ul>
                </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                  <hr class="style14">
              </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <span>&copy; 2020 Murugan Temple of North America </span>
                </div>
            </div>
          </div>
        <!-- .container end -->
    </div>
    <!-- .footer-copyright end -->
  </footer>
</main>

<script language="javascript">
$( document ).ready(function() {
  // calculating margin-left to align it to center;
  var width = $('.justified').width();
  $('.justified').css('margin-left', '-' + (width / 2)+'px');
  //console.log('width:'+ width);
});
$( window ).resize(function() {
  // calculating margin-left to align it to center;
  var width = $('.justified').width();
  var factor = 2;
  var result = width / factor;
  $('.justified').css('margin-left', '-' + result +'px');
  //console.log('width:'+ width);
});
</script>
<script>
$( document ).ready(function() {
  var scrollpos = window.scrollY;
  var componentToFix = document.getElementById("navheader");
  var windowheight = window.innerHeight;
  var headerheight = document.getElementById("headerbar").offsetHeight;

  function add_class_on_scroll() {
    componentToFix.classList.add("fixed-top");
  }

  function remove_class_on_scroll() {
    componentToFix.classList.remove("fixed-top");
  }

  window.addEventListener('scroll', function() {
    scrollpos = window.scrollY;
    if (scrollpos > (windowheight - headerheight)) {
      add_class_on_scroll();
    } else {
      remove_class_on_scroll();
    }
  });
  });
  </script>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('.calendarthubmnails').magnificPopup({
      delegate: 'a', // child items selector, by clicking on it popup will open
      type: 'image',
      gallery:{
        enabled:true
      },
      // other options
    });
  });  
</script>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('#slickslider1').slick({
      vertical: false ,
      autoplay: true,
      autoplaySpeed: 3000,
      speed: 300
    });
  });
</script>

<script type="text/javascript">
if (location.protocol != 'https:' && (location.hostname.indexOf("localhost") == -1 && location.hostname.indexOf("0.0.0.0") == -1) )
{
     var rndNum = Math.floor(Math.random() * 100000);
     location.href = 'https:' + window.location.href.substring(window.location.protocol.length) + '?rnd=' + rndNum;
}
</script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<!--
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141256768-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-141256768-1');
</script>
-->
<!-- Force redirect to HTTPS -->
<!--
<script>if(!(window.location.host.startsWith("127.0.0.1") || window.location.host.startsWith("localhost")) && (window.location.protocol!="https:")) window.location.protocol="https:";</script>
-->
</body>
</html>

