<!--
<div class="row">
  <div class="col-md-12">
    <br/>
    <h4>Upcoming Events</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12  pagebodycontent" align="center">
    <p>Please refer to the print calendar available below by month for a full-list of all religious events.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 pt-2 pb-2" align="center" id="">
    <div class="calendarthubmnails d-flex justify-content-center">
      <a href="/img/cal/2020/01.jpg">Jan</a>&nbsp;|&nbsp;
      <a href="/img/cal/2020/02.jpg">Feb</a>&nbsp;|&nbsp;
      <a href="/img/cal/2020/03.jpg">Mar</a>&nbsp;|&nbsp;
      <a href="/img/cal/2020/04.jpg">Apr</a>&nbsp;|&nbsp;
      <a href="/img/cal/2020/05.jpg">May</a>&nbsp;|&nbsp;
      <a href="/img/cal/2020/06.jpg">Jun</a>&nbsp;|&nbsp;
      <a href="/img/cal/2020/07.jpg">Jul</a>&nbsp;|&nbsp;
      <a href="/img/cal/2020/08.jpg">Aug</a>&nbsp;|&nbsp;
      <a href="/img/cal/2020/09.jpg">Sep</a>&nbsp;|&nbsp;
      <a href="/img/cal/2020/10.jpg">Oct</a>&nbsp;|&nbsp;
      <a href="/img/cal/2020/11.jpg">Nov</a>&nbsp;|&nbsp;
      <a href="/img/cal/2020/12.jpg">Dec</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <hr>
  </div>
</div>
-->

{{ range .Paginator.Pages.ByDate }}
<div class="row">
    <div class="col-md-12">
        <h4><a href="{{ .Permalink }}" class="link black dim">{{ .Title }}</a></h4>
        <span><b>Event Date/Time:</b> {{ .Params.eventDateAsString }}</span>
        <p>{{ .Description  }}</p>
    <div>
    <!--
    <div class="col-md-12">
      <span class="badge badge-pill badge-secondary">Posted on 2012-08-02 20:47:04</span>
      
      <div class="float-right">
        <a href="#" class="badge badge-info">Info</a>
        <a href="#" class="badge badge-info">Info</a>
        <a href="#" class="badge badge-info">Info</a>
        <a href="#" class="badge badge-info">Info</a>
        <a href="#" class="badge badge-info">Info</a>
        <a href="#" class="badge badge-info">Info</a>
      </div> 
    </div>
    -->
</div>
<div class="row">
  <div class="col-md-12">
      <hr>
  </div>
</div>
{{ end }}
</div>
</div>
</div>
</div>
