{{ partial "parts/top-section.html" . }}

<main role="main">

  <div class="row">
      <div class="col-lg-12" align="center" id="headernote2">
        <div class="row">
          <div class="col pt-2 pb-2">
            <b class="fgColorWhite">Closed to public until Jan 15, 2021</b>
            &nbsp;
            <a class="btn btn-warning btn-sm" href="/about/services-request/">Request Puja Online Now</a>
            &nbsp;
            <a class="btn btn-warning btn-sm" href="/about/donate-online">Donate Online Now</a>
          </div>
        </div>
      </div>
  </div>
  
  <!--
  <div class="row">
      <div class="col-lg-12" align="center" id="headernote">
        <div class="row">
          <div class="col">
            <b class="fgColorGreen2">Murugan Temple and Kitchen Now Open (With Limited Access)<br/><a href='/about/checkin/'>Check-In Details Here</a></b>
          </div>
        </div>
        <div class="row d-sm-block d-md-none d-lg-none d-xl-none">
          <div class="col">
            <a class="btn btn-warning btn-sm" href="/about/our-services/">Our Services</a>
            &nbsp;
            <a class="btn btn-warning btn-sm" href="/about/donate-online">Donate Online</a>
          </div>
        </div>
      </div>
  </div>
  -->

  <div class="container">
    <div class="row">
      <div class="col-lg-12 mt-4 mb-4">
      	<h3>Murugan Temple Upcoming Events:</h3>
        Below is a list of all upcoming events here at Murugan Temple.
      </div>
    </div>
  </div>  
  <div class="container marketing">
  	{{ partial "parts/list-section.html" . }}
  </div>

{{ partial "parts/bottom-section.html" . }}